<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polymon</title>

    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicon/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">

    <!--========================Bootstrap========================-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>

    <link rel="preload" href="pokeDex.js" as="script">
    <link rel="preload" href="user.js" as="script">
    <link rel="stylesheet" href="wild.css">
  </head>
  <body>



  <main>
    <section>

      <div class="card" style="width: 18rem;">
  <div class="card-header"  id="enemyName">
Name <span>Lv 100</span>
  </div>
<div class="card-body">
  <div class="progress">
    HP <div id="opponentHP" class="progress-bar bg-success "  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
</div>

</div>

      <picture style="display:none;" id="enemyImg">
      </picture>
    </section>
    <section id="player">

      <div class="card" style="width: 18rem;">
  <div class="card-header"  id="playerName">
Name <span>Lv 100</span>
  </div>
<div class="card-body">
  <div class="progress">
    HP <div id="HP" class="progress-bar bg-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>

</div>

</div>
      <picture style="display:none;" id="playerImg">
      </picture>

    </section>
  </main>

  <nav>
    <!-- <ol id="options">
      <li id="fight" onclick="fight()"><img src="/images/Symbols/status.png" style="height:100%;"/>Fight</li>
      <li id="bag" onclick="bag()"><img src="/images/Symbols/search.png" style="height:100%;"/>Bag</li>
      <li id="monsters" onclick="monsters()"><img src="/images/Symbols/monster.png" style="height:100%;"/>Monsters</li>
      <li id="run" onclick="run()"><img src="/images/Symbols/run.png" style="height:100%;"/>Run</li>
    </ol> -->
    <ol id="moves" class="disappear">
      <li id="move1" class="empty"></li>
      <li id="move2" class="empty"></li>
      <li id="move3" class="empty"></li>
      <li id="move4" class="empty"></li>
    </ol>

    <section id="messageBoard" class="disappear">

      <h1 id="messageBody"></h1>

      <span><img id="unknown" src="https://pm0qkv9g4h87t5y6lg329oam8j7ze9.ext-twitch.tv/pm0qkv9g4h87t5y6lg329oam8j7ze9/0.9.0/025fe763ad4a470b33e3f67fdf2a3efa/img/unown.7df1fd76.gif"></span>

    </section>

<section id="options">



        <div class="content-wrapper-header" onclick="bag()" id="bag">
            <h1 class="img-content">

              <img src="/images/Symbols/search.png" style="height:10vh;"/>
              Bag
              </h1>
        </div>

        <div class="content-wrapper-header" onclick="fight()" id="fight">
                    <h1 class="img-content">

                      <img src="/images/Symbols/status.png" style="height:10vh;" />
                      Fight
                      </h1>
                </div>

        <div class="content-wrapper-header" id="monsters" onclick="monsters()">
            <h1 class="img-content">

              <img src="https://cdn-icons-png.flaticon.com/512/188/188987.png" style="height:10vh;" />
              Pokémon
            </h1>
        </div>

        <div class="content-wrapper-header" id="run" onclick="run()">
            <h1 class="img-content">

              <img src="/images/Symbols/run.png" style="height:10vh;" />
              Run
            </h1>
        </div>


</section>
  </nav>

  <div id="popUp" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-white bg-dark">
        <div class="modal-header" id="modal-header">
          <h5 class="modal-title" id="modal-title">Modal title</h5>
          <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="itemBag" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-white bg-dark">
        <div class="modal-header" id="itemBag-header">
          <h5 class="modal-title" id="itemBag-title">Modal title</h5>
          <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="itemBag-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="teamSwitch" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-white bg-dark">
        <div class="teamSwitch">
          <p>Modal body text goes here.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.52.0/phaser.min.js"></script>
  <script src="pokeDex.js" charset="utf-8"></script>
  <script src="user.js" charset="utf-8"></script>
  <script src="wild.js" charset="utf-8"></script>
</body>
</html>
